annexure_file="/input/inpurfiles/books.zip"
destination_folder="/output"

existing_stamps_folder="/input/stampfiles"
round_stamp_file_name="round_stamp.png"


data_folder="/wip"


working_stamps_folder_name="stamps"
unstamped_folder_name="unstamped"
working_folder_name="working"
stamped_folder_name="stamped"


python_packages="python3-venv python3-pip"
env_base_path="pyenvs"
python_env_name="stamp8env"
python_modules="pymupdf"
