annexure_file="/mnt/mounts/bansrv001/all.zip"

data_folder="data"

tmp_unzip_folder_name="tmp_unzip"
stamps_folder_name="stamps"
unstamped_folder_name="uns_files"
stamped_folder_name="st_files"
final_folder_name="final_annexures"
outside_folder="/mnt/mounts/bansrv001"


stamp_filename="round_stamp.png"
rstamp_file="../stampfiles/round_stamp.png"

python_packages="python3-venv python3-pip"
python_env_name="rstampenv"