annexure_file="/mnt/mounts/bansrv001/annexures.zip"

data_folder="./data"

tmp_unzip_folder_name="tmp_unzip"
stamps_folder_name="stamps"
unstamped_folder="uns_files"
stamped_folder="st_files"
final_folder_name="final_annexures"


stamp_filename="round_stamp.png"
rstamp_file="../stampfiles/round_stamp.png"

python_packages="python3-venv python3-pip"
python_env_name="rstampenv"