annexure_file="/mnt/mounts/bansrv001/annexures.zip"

data_folder="/mnt/mounts/bansrv001/data"
stamps_folder="/mnt/mounts/bansrv001/data/stamps"
unstamped_folder="/mnt/mounts/bansrv001/data/uns_files"
stamped_folder="/mnt/mounts/bansrv001/data/st_files"
final_path="/mnt/mounts/bansrv001/final_annexures/"

stamped_files_folder_name="st_files"
rstamp_file="../stampfiles/round_stamp.png"
stamp_filename="round_stamp.png"

python_packages="python3-venv python3-pip"
python_env_name="rstampenv"