annexure_file="/mnt/mounts/bansrv001/two.zip"

data_folder="data"

existing_stamps_folder="../stampfiles"
round_stamp_file_name="round_stamp.png"

working_stamps_folder_name="stamps"
unstamped_folder_name="unstamped"
working_folder_name="working"
stamped_folder_name="stamped"

destination_folder="/mnt/mounts/bansrv001/stamped_annexures"

python_packages="python3-venv python3-pip"
python_env_name="stamp6env"
python_modules="pymupdf"