annexure_file="/mnt/mounts/sftp/sftp_files/files/qbt_drive/annexures/input/annexures.zip"
destination_folder="/mnt/mounts/sftp/sftp_files/files/qbt_drive/annexures/output"

existing_stamps_folder="../stampfiles"
round_stamp_file_name="round_stamp.png"


data_folder="data"


working_stamps_folder_name="stamps"
unstamped_folder_name="unstamped"
working_folder_name="working"
stamped_folder_name="stamped"


python_packages="python3-venv python3-pip"
env_base_path="pyenvs"
python_env_name="stamp8env"
python_modules="pymupdf"
