[Inputs]
annexure_file = /input/inputfiles/books.zip
stamps_folder = /input/stampfiles
round_stamp = ${stamps_folder}/round_stamp.png

[Working Paths]
wip_folder = /wip
wip_stamps_folder = ${wip_folder}/stamps
wip_unstamped_folder = ${wip_folder}/unstamped
wip_folder = ${wip_folder}/wip
wip_stamped_folder = ${wip_folder}/stamped

[Output Paths]
destination_path = /output

[Stamp Options]
stamp_width = 120
stamp_height = 120
dist_from_right = 140
dist_from_bottom = 150

[Resolution]
pixmap_x = 2
pixmap_y = 2


[Python Options]
python_packages = python3-venv python3-pip
env_base_path = /wip/pyenvs
python_env_name = dockstamp8env
python_modules = pymupdf
